body {
    max-width: 1024px;
    margin: 2em auto;
}

table {
    width: auto;
}

td {
    border: 1px solid black;
    padding: 0.5em;
    min-width: 3em;
    text-align: right;
}

#recordresults {
    color: red;
    font-weight: bold;
}